---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <h1>Reading</h1>
    <!-- TODO: Images and links for books; make book card class -->
    <div class="grid">
        <div class="card">
            <!-- <img class="card-image" src={ink1.src} alt="ink1" /> -->
            <div class="card-text">
                <p>Your Money or Your Life</p>
            </div>
        </div>
        <div class="card">
            <!-- <img class="card-image" src={ink1.src} alt="ink1" /> -->
            <div class="card-text">
                <p>The Way of Zen</p>
            </div>
        </div>
    </div>
</Layout>
