<div>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <div>
        <h1>
            Hi! I'm Ian. Welcome to my portfolio.
        </h1>
    </div>
</div>

<style>
    
    h1 {
        font-family: "Poiret One", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

</style>